.StyleHome {
    min-height: 100vh;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .StyleHome.light {
    background-color: #FFF;
    color: #000;
  }
  
  .StyleHome.dark {
    background-color: #000;
    color: #FFF;
  }

.containerMode{
    width: 10rem;
    height: auto;
    margin-bottom: 2rem;
}

button{
    width: 7rem;
    height: 2rem;
    font-size: 0.9rem;
    border-radius: 1em;
    border: none;
}