* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

.StyleHome {
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.StyleHome.light {
  background-color: #FFF;
  color: #000;
}

.StyleHome.dark {
  background-color: #000;
  color: #FFF;
}

.containerMode {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  text-align: right;
}

button {
  width: 7rem;
  height: 2rem;
  font-size: 0.9rem;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}

.btn-dark-light {
  background-color: #a9a9a9;
}

.containerLikeDislike {
  text-align: center;
}

.containerColors {
  margin-top: 2rem;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-left: 9rem;
  border-radius: 1em;
  gap: 0.5rem;
}

.containerCounter {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  height: auto;
}

